@model MusicPortal_Asp.Net_MVC_.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Context.Request.Cookies["login"] == null) 
{
<div class="container">
        <div class="form-container shadow-lg">
                    <h2 class="text-center mb-4"> Authorization</h2>
                    <form asp-action="Login" method="post">
                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-4">
                        <label asp-for="Login" class="form-label"></label>
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-4 form-check">
                    <input asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label">Запомнить меня</label>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-theme w-100" value="Logon">Login</button>

                    <a class="btn btn-outline-theme w-100" asp-area="" asp-controller="Account" asp-action="LoginAsGuest">Login as Guest </a>
                    <p class="text-center mt-4">
                                Don't have an account?
                        <a class="link-like"  asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    </p>
                    </div>
                    </form>
            </div>
        </div>

}
else
{
    <div class="text-center">
        <p>Вводить логин и пароль уже не нужно! <a asp-controller="Home" asp-action="Index">На главную</a></p>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}