@model MusicPortal_Asp.Net_MVC_.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<div class="row justify-content-center min-vh-100 align-items-center">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-body p-5">
                    <h2 class="text-center mb-4">Registration</h2>
                    <form asp-action="Register" method="post">
                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-4">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Login" class="form-label"></label>
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PasswordConfirm" class="form-label"></label>
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                    <div class="d-grid gap-2">
                        <input type="submit" value="Check in" class="btn btn-primary btn-lg" />
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}